{% extends 'base.html'%}

{%block title%}{%endblock%}

{%block menu%}
<li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'index_view' %}">Home</a>
</li>
{%endblock%}


{% block container %}
<div class="head">
    <h1 class="main-head">
        Описание задачи
    </h1>
</div>
<div class="body">
    <p class="task">Task description <br> {{ task.description }}</p>
    <hr>
    <p>Status: {{task.status}} </p>
    <hr>
    <p> Finish by: {{task.date}} </p>
</div>
{% endblock %}